[2021-11-04 22:17] cwulfman opened #1 "examples should include documents in JSON format"

[2021-11-04 22:35] cwulfman commented on #1
fixed with commit 80c89ce932a7e72dea0e61dd7c6edb62765c7ca4

[2021-11-04 22:35] #1 closed, assigned to cwulfman

[2021-11-10 14:34] cwulfman opened #2 "Incude example VRR data (NIST 1500-102)"
To support Vanadium Ledger demo

[2021-11-17 22:24] cwulfman opened #4 "include JSON in the documentation"
from EJS

[2021-11-17 22:25] cwulfman opened #5 "show how CVR links back to EDF"
from EJS

[2022-01-19 16:15] cwulfman opened #6 "Directories are named incorrectly. NIST_1500-100/ has 1500-103 instances and vice versa"

[2022-01-19 16:16] cwulfman opened #7 "File NIST-1500-100-103-examples\NIST_1500-100\example-annotated.xml is not valid"
File NIST-1500-100-103-examples\NIST_1500-100\example-annotated.xml is not valid.  This is mainly due to empty ObjectId attributes.

[2022-01-19 16:16] cwulfman opened #8 "xsi:schemaLocation=http://itl.nist.gov/ns/voting/1500-103/v1 schemas/CastVoteRecordReport.xsd is not valid"
xsi:schemaLocation=http://itl.nist.gov/ns/voting/1500-103/v1 schemas/CastVoteRecordReport.xsd is not valid. There is no internet schema location for the CDFs that is resolvable beyond the GitHub raw uris. Consider the use of an XML Catalog if you need to specify mappings from namespaces to XSDs

[2022-01-19 16:17] cwulfman opened #9 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08BE0.cvr.xml is not valid"

[2022-01-19 16:17] cwulfman opened #10 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08CQ0.cvr.xml is not valid"

[2022-01-19 16:17] cwulfman opened #11 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08GD0.cvr.xml is not valid."

[2022-01-19 16:17] cwulfman opened #12 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08AZ0.cvr.xml is not valid"

[2022-01-19 16:18] cwulfman opened #13 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08LS0.cvr.xml is not valid"

[2022-01-19 16:18] cwulfman opened #14 "File NIST-1500-100-103-examples\NIST_1500-100\GpU08RE0.cvr.xml is not valid"

[2022-01-19 16:18] cwulfman opened #15 "LA files have validation issues"
I did not look at the LA files in detail but they seem to have the same sorts of issues

[2022-01-19 16:19] cwulfman opened #16 "None of the JSON files are valid according to the JSON Schema"
JSON Files
None of the JSON files are valid according to the JSON Schema. It appears they were converted from XML using an off the shelf XML->JSON converter
This will not work as the structure of the XML and JSON files are different, for example, repeating elements become arrays in JSON.
Please take a look at https://github.com/HiltonRoscoe/CDFPrototype/blob/master/conversion/format_conversion.md

[2022-01-19 16:20] cwulfman opened #17 "problems with 1500-100 files"
NIST_1500-103\version_2\tutorial_election_definition_3.xml
NIST_1500-103\version_2\tutorial_election_definition_4.xml
CandidateIds (beta_for_mayor) must point to an element of type Candidate
NIST_1500-103\version_2\single_precinct_edf.xml
CandidateIds (contest-control-board-spaceport--selection-write-in-1) must point to an element of type Candidate
CandidateIds (contest-control-board-spaceport--se

[2022-01-19 16:20] cwulfman opened #18 "Links at bottom of https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/NIST_1500-100/doc/annotated-overview.org give 404s"

[2022-01-19 23:50] cwulfman opened #19 "create testbeds"
Requirements:

- ballot measure
- contest for office
   - 1 of x
   - n out of m
   - presidential (each ballot item is two people)

must have several precincts

Jetsons election model has 3 of the 4 objects; but it lacks a presidential contest.

EJS:
EDF 1 -- the Jetsons (no president)
EDF 2 -- adds presidential

March milestone: an EDF that is similar in structure to Jetsons, and include a presi

[2022-01-20 00:33] cwulfman commented on #6
fixed in dev

[2022-01-20 00:33] #6 closed, assigned to nobody

[2022-01-20 16:52] awoflaherty commented on #19
## Expanding on the tests.
1. Test 1 very basic with Jetsons contests in NIST V1
2. Test 2 Includes 4 precinct with the first 2 as basic and 3 includes a long ballot measure and 4 includes a presidential election in ~NIST V1~ changed to NIST V2
3. Test 3 more real world data and in NIST V2

Details below
## EDF 1: NIST V1, the Jetsons
precinct 1:
2 @ 1 of x  contests
2 @ n out of m contests
1 @ ba

[2022-01-20 16:59] awoflaherty commented on #19
I'd like EDF1 as soon as possible while the other can wait.  We need to add the filter precinct code to Elroy v2 first.

[2022-01-21 02:54] mattbeattie commented on #19
Request: for the NIST v2 EDFs, can we get them in both XML and JSON format?

[2022-01-21 03:14] awoflaherty commented on #19
Or do we want just json format?

[2022-01-21 14:47] cwulfman commented on #19
John Dziurłaj's resources about the NIST standards is illuminating and well worth reviewing: https://github.com/HiltonRoscoe/CDFPrototype; https://github.com/HiltonRoscoe/CDFConverter. In fact, many of the tools and resources he has produced may be of use to us.

[2022-01-21 19:38] trustthevote commented on #19
This EDF #1 looks fine in XML and may be the right one for an Elroy demo. Also please provide in properly converted JSON. If Bret's code is converting XML to JSON as a first step, my suggestion would be to use the JSON version, so the app can skip the translation step, which could introduce some errors.

[2022-01-21 19:50] cwulfman commented on #19
HiltonRoscoe doesn't have a v1 xml->json converter, so I'm going to do this by hand.

[2022-01-21 20:19] awoflaherty commented on #19
I have changed my request for EDF 2 from NIST v1 to NIST v2 so we can utilize HiltonRoscoe'v V2 xml->json converter

[2022-01-23 22:01] mattbeattie opened #23 "What needs to be displayed for the "n-of-m" vote variation of the candidate contest?"
Question about what needs to be displayed for the "n-of-m" vote variation of the candidate contest:

https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/NIST_1500-100/version_2/n-of-m_contest.xml

When looking at the `Contest`, I see it lists the following information (and _only_ the following information):

[code]

While I can easily do a lookup to get the corresponding o

[2022-01-23 22:24] mattbeattie opened #24 "Will there ever be a case where there are multiple candidateIds for a single candidate contest?"
For example: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/NIST_1500-100/version_2/single_candidate_contest.xml

In the `contest_princeton_mayor` `Contest`, there are three `ContestSelection`s. The third is a write-in. The first two have a `CandidateIds` element, with a single candidate ID listed.

Will there ever be a case where this element will have multiple candi

[2022-01-23 22:44] mattbeattie opened #25 "No matching `Candidate` `ObjectId` for one `Contest` `CandidateIds` for single candidate contest of vote variation majority: potential data issue?"
This may be a potential data error, but I wanted to check. See the EDF here: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/NIST_1500-100/version_2/single_candidate_contest.xml

The `Contest` lists several candidates:

* Candidate `candidate_alpha` matches a `Candidate` element with the same `ObjectId`. This is expected.
* Candidate `beta_for_mayor` does not match any

[2022-01-24 02:43] mattbeattie opened #26 "Will there ever be a case where there will be more than one write-in per contest?"

[2022-01-24 02:49] mattbeattie commented on #25
For any candidate, will the ObjectId always equal the CandidateIds value? For example:

[code]

For the first candidate:

* The `ObjectId` (`alpha_for_mayor`) doesn't match anything
* The `CandidateIds` value matches the `Candidate` `ObjectId`

For the second candidate:

* The `ObjectId` (`beta_for_mayor`) matches the `CandidateIds` value
* That value doesn't match anything else

What's the differ

[2022-01-24 02:53] mattbeattie opened #27 "What system is in charge of validating EDFs/CVRs?"
For our EDFs XML files, there are two kinds of validation:

1. Schema validation, which is relatively easy and can likely be solved with some library
2. "Completeness" validation, which is harder and requires some custom code

For the purpose of this topic, I'm referring to the second type of validation. Here are some examples:

* `Contest`'s `ContestSelection` candidate identifiers don't match an

[2022-01-24 02:58] mattbeattie commented on #27
For now this must be solved within Elroy's parsing logic. That requires a nontrivial amount of defensive programming to handle all these potential failure cases. I'm not even sure what the desired behavior of the application would be - fail outright, display partial data, make some call to some external system announcing the failure?

Ideally, I think this EDF parsing should live in some API somew

[2022-01-24 03:00] mattbeattie commented on #27
Similarly, what system ensures that Elroy is generating a structurally accurate and logically complete CVR? Astro? What validations does it need to do, what potential error cases must it handle, and what is the desired behavior in the application under those cases?

[2022-01-24 14:35] cwulfman commented on #26
The schema allows for it: a CandidateContest can have more than one CandidateSelection, and a CandidateSelection may or may not be a writein. Whether more than one writein is allowed in practice would be a matter of election law, I think.

[2022-01-24 16:09] cwulfman commented on #19
I have established a test_cases directory at the top of the repo: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/tree/main/test_cases. It currently contains 2 files:
- https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/EDF_1.xml, for Bret; a very minimal version-1 definition of the basic Jetsons contest, for the Elroy demo
- https://github.c

[2022-01-24 16:19] awoflaherty commented on #19
Is EDF_1.json in NIST v1 or V2?

[2022-01-24 16:47] cwulfman commented on #23
This example isn't complete (and shouldn't be in the main branch; sorry). I'm waiting on a response from John Sebes about how to represent this.  See f89a94ed172963fbf8150731784f5f65c2bd041b

[2022-01-24 17:41] cwulfman commented on #23
https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/pull/28

[2022-01-24 17:46] cwulfman commented on #19
EDF_1.json is NIST 2.  Bret **should not** use it. There is no "valid" translation of v1 xml to json.

**EDF_1.xml was created for Bret to use in the upcoming demo.**

[2022-01-24 20:40] cwulfman commented on #24
From the spec (p. 34):

[code]

[2022-01-24 20:48] #25 closed, assigned to nobody

[2022-01-24 20:54] cwulfman commented on #27
This sort of "buisness logic" is best handled with Schematron: https://en.wikipedia.org/wiki/Schematron

[2022-01-25 00:10] trustthevote commented on #26
In any EDF that's normal for the real world, the number of write in slots is equal to the number of candidate choices the voter makes. For 1-of-X contests for, there would be one write in slot; for N-of-M contests, there would be N write in slots. In the special 1-of-X that is prez-vp, the one write in slot probably doesn't have the structure of two separate names but IRL a valid write-in would ha

[2022-01-25 00:14] trustthevote commented on #27
Well, technically it would be a bug in the system that produces an EDF to produce one with a semantic validation error like this. (Just like it would for omitted a required data element.) But Elroy data import should be robust against syntactically valid semantically erroneous EDFs. But how robust? Let's see as we go along. No need to think up every possible error. I'd suggest this rubric: if the

[2022-01-25 01:36] mattbeattie commented on #23
Excellent, thank you. I'll close this one and we can follow up on the PR you opened there. Looks like John has already replied.

Worth noting this is a good case where there may be multiple write-ins (for multiple seats), so that helps the other question I posed elsewhere.

[2022-01-25 01:36] #23 closed, assigned to trustthevote

[2022-01-25 01:40] mattbeattie commented on #26
This is helpful, thank you both. Will close this one out, I appreciate the examples!

[2022-01-25 01:40] #26 closed, assigned to trustthevote

[2022-01-25 01:51] mattbeattie commented on #27
Cool, I agree. How about this: we'll build error catching/handling into Elroy to account for these things as we see them. I have a few already, and we can leave them in. If/when we see more, we'll handle the error and add another check.

Cliff - I hadn't heard of Schematron, that's pretty cool. Would potentially be nice to handle that in some external system _before_ it gets to Elroy; however, I f

[2022-01-25 01:51] #27 closed, assigned to nobody

[2022-01-25 01:59] mattbeattie commented on #24
Thanks for looking that up! So I suppose the spec allows for multiple candidate IDs anytime there's a candidate contest - majority, n-of-m, or presidential.

Would it be correct to display this on the ballot selection line as follows?

[code]

I'm also assuming that the party would be the same for all candidates on the same ballot (i.e., `ContestSelections`) - can you confirm if this is correct? I

[2022-01-25 02:01] mattbeattie commented on #24
A separate question based on some info in the spec:

We've talked about ballot measures, but (unless I'm missing something) we haven't really talked about "straight party contests or" "vote counts" before. Do these map to the majority / n-of-m / presidential type contests, or are they something different?

[2022-01-25 02:29] mattbeattie opened #29 "Questions about EDF_1.json"
In reviewing the example NIST 2.0 EDF in JSON format, I have a few questions

https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/EDF_1.json

1. How do you map from `ContestSelection` to `Candidate`? I see that a subset of the strings match up, for example `candidate-cosmo-spacely` and `contest-mayor--selection-cosmo-spacely`; however, it's not a _exact_ match.

[2022-01-25 02:30] mattbeattie commented on #19
@cwulfman I took a look at `EDF_1.json` and had a few questions. Rather than inject them into this thread, I opened a new issue to discuss them here: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/issues/29

[2022-01-25 13:39] cwulfman commented on #29
Looks like the EDF file isn't complete. I'll look into this.

[2022-01-26 00:29] #7 closed, assigned to nobody

[2022-01-26 00:30] cwulfman commented on #8
Now using a catalog.

[2022-01-26 00:30] #8 closed, assigned to nobody

[2022-01-26 00:31] cwulfman commented on #15
removed these files.

[2022-01-26 00:31] #15 closed, assigned to nobody

[2022-01-26 00:37] cwulfman commented on #16
The HiltonRoscoe stylesheets apply to 1500-100 v2 only. We will remove documentation for 1500-100 v1, as the TrustTheVote project is deprecating it.

[2022-01-26 00:37] cwulfman commented on #9
file removed

[2022-01-26 00:37] #9 closed, assigned to nobody

[2022-01-26 00:38] cwulfman commented on #10
file removed

[2022-01-26 00:38] #10 closed, assigned to nobody

[2022-01-26 00:38] cwulfman commented on #14
file removed

[2022-01-26 00:38] #14 closed, assigned to nobody

[2022-01-26 00:38] cwulfman commented on #13
file removed

[2022-01-26 00:39] #13 closed, assigned to nobody

[2022-01-26 00:39] cwulfman commented on #12
file removed

[2022-01-26 00:39] #12 closed, assigned to nobody

[2022-01-26 00:39] cwulfman commented on #11
file removed

[2022-01-26 00:39] #11 closed, assigned to nobody

[2022-01-26 00:43] cwulfman commented on #18
fixed

[2022-01-26 00:43] #18 closed, assigned to nobody

[2022-01-28 17:46] #16 closed, assigned to cwulfman

[2022-02-08 13:30] #19 closed, assigned to cwulfman

[2022-02-10 03:45] mattbeattie commented on #29
Closing this issue as this EDF has been replaced by the two new examples. Thanks for providing those!

[2022-02-10 03:45] #29 closed, assigned to cwulfman

[2022-02-13 18:31] cwulfman opened #34 "Add examples of RCV and approval voting"
From EJS:

[2022-02-13 18:31] #4 closed, assigned to nobody

[2022-02-13 18:31] #2 closed, assigned to nobody

[2022-02-13 18:32] #24 closed, assigned to nobody

[2022-02-21 23:46] mattbeattie opened #35 "How should we display `OrderedContent`s that contain `OrderedHeader`s?"
In the ballot markup application, we parse an EDF into a list of contests that is displayed to the voter. In order to derive the list of contests, we need to know what ballot style to use.

The `BallotStyle` class contains an array of `OrderedContent`s. The `OrderedContent` class is [defined as follows](https://pages.nist.gov/ElectionResultsReporting/#18_5_3_43701b0_1527684342715_643544_6146):

Di

[2022-02-22 00:06] mattbeattie opened #36 "How does the ballot markup application know which ballot style to use?"
In the ballot markup application, we parse an EDF into a list of contests that is displayed to the voter. In order to derive the list of contests, we need to know what ballot style to use.

What we have: the voter's precinct! Is it safe to parse the array of ballot styles and simply return the first `BallotStyle` whose `GpUnitIds` array includes the voter's precinct?

What we don't have: the `Ball

[2022-02-22 00:18] mattbeattie opened #37 "Request: example CVR in JSON format"
The NIST 2.0 EDF JSON examples ([1](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_1.json) and [2](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_2.json)) were incredibly helpful when creating the TypeScript model and associated parsing logic.

I would like to request a sample CVR in JSON format, so t

[2022-02-22 17:11] awoflaherty opened #38 "Jetson Ballot examples reviewed and moved"
1. Does it make sense to move /test_cases/ as a folder under examples?

2. Are these example files up to date with NIST v2?

3. Should these be duplicated and placed in the Rosie repo?
https://github.com/trustthevote/MVP-App-TestHarness/tree/main/src/assets/files

[2022-02-22 18:35] trustthevote commented on #35
Question 1, possibility two. Like
Header: "Federal Contests"
Contest: Senstor
Contest: House of Reps, 12th district
Header "State Contests"
Contest Governor

Question 2: What should we be doing with these headers?
For presenting ballot items, nothing. Paper ballots require these labels as separators between different kinds of contests. Screen ballots typically don't use a screen to say "now switch

[2022-02-22 18:40] trustthevote commented on #36
Each ballot style object contains an identifier for the precinct it is for.
Our voter files contain the name (or IRL identifier) for the precinct that each voter is in.
We need a mapping from voter to precinct to ballot style.
That will be established by
(a) voter files containing IRL precinct name/IDs
(b) the EDF using those same name/IDs as part of the election definition of precincts and ballot

[2022-02-22 18:41] trustthevote commented on #37
its already an action for @cwulfman to add CVR examples for each EDF example.

[2022-02-22 22:15] mattbeattie commented on #36
Okay, excellent. So for example, the precinct in [this example](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_1.json#L6-L8) is `precinct_1_downtown`. So if I'm a voter and I show up to my precinct downtown, I'll get the single ballot that corresponds to my precinct. That's very simple to code.

John, I remember you said that there may be multiple b

[2022-02-22 22:18] cwulfman commented on #35
I will defer to @trustthevote and/or John Dziurlaj (they wrote the spec, after all), but here are my thoughts.
### Question 1
**The answer is possibility 1.** The naming of the elements is certainly confusing (heck: the name _ballotstyle_ is confusing), but I think the intention is to support arbitrary nesting of sections of a ballot. It is, I think, just like the structuring of <div> elements in

[2022-02-22 22:18] #17 closed, assigned to nobody

[2022-02-22 22:29] mattbeattie commented on #35
Thank you both! This helps tremendously. Let me summarize to make sure I understand everything correctly.

## Question 1: do `OrderedHeader`s contain `OrderedContent`s (per the documentation) or `OrderedContest`s (per the examples)?

John, your answer is "possibility two," which makes sense to me given your example.

Cliff, your answer is "possibility one;" however your example here supports "poss

[2022-02-22 22:37] mattbeattie commented on #35
Will go ahead and close this issue since I have a path forward, feel free to re-open if this topic needs any additional clarification.

[2022-02-22 23:05] cwulfman commented on #35
You-all should do whatever you want, but the [example2.json](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_2.json) file was generated from [example2.xml](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_2.xml), which conforms with possibility 1, not possibility 2.

I don't think this is correct; you ar

[2022-02-22 23:31] mattbeattie commented on #35
Apologies - didn't mean to close the issue without getting to a consensus. It sounds like this needs more discussion before we implement this in code.

## First, on possibility 1 (`OrderedHeader`s contain `OrderedContent`s) vs possibility 2 (`OrderedHeaders` contain `OrderedContest`s)

Cliff - your last message caused it to click for me. Given that `OrderedHeader`'s `OrderedContent` property is an

[2022-02-22 23:45] cwulfman commented on #35
I think we'd have to survey Ballot Styles in the wild before we said that.  Ballot layouts, as I understand it, can be whatever the election officials want them to be, so someone could design a highly structured ballot for an election with lots and lots of contests.  That's all hypothetical, though, so unless the domain experts say otherwise I think you could probably assume a two-level tree.

So

[2022-02-24 21:15] cwulfman commented on #38
My thoughts on your questions; obviously you and @trustthevote should decide what is best for you.

The purpose of this repository has evolved; it started out a a resource for developers wanting to understand EDFs and CVRs.  And as I understood it, the MVP Test Harness was no longer being used; now I see that is not the case. I'd like to propose two options:

1. Transfer the test cases to the Rosi

[2022-02-24 21:23] cwulfman opened #39 "Generate example CVRs from EDFs"
Addresses #37 and #36

### Requirements

- CVR must be in JSON format

[2022-02-24 21:28] cwulfman commented on #37
The documentation for the CastVoteRecord is [here](https://pages.nist.gov/CastVoteRecords/)

[2022-02-24 21:54] cwulfman commented on #37
John Dziurlaj has an json example here: https://github.com/HiltonRoscoe/CDFPrototype/blob/master/CVR/json/example_2.json

In fact, https://github.com/HiltonRoscoe/CDFPrototype is chock-full of interesting stuff for us.

[2022-02-25 23:48] mattbeattie commented on #37
Oh excellent. I should be able to programmatically create a CVR that looks like that based on the EDF and the voter's selections.

You weren't kidding - the [EXAMPLES.md](https://github.com/HiltonRoscoe/CDFPrototype/blob/master/CVR/EXAMPLES.md) in that repo has a ton of info.

One potential concern: the [version is 1.0.0](https://github.com/HiltonRoscoe/CDFPrototype/blob/master/CVR/json/example_2.

[2022-02-25 23:56] cwulfman commented on #37
I think there is only one version of NIST-1500-103

[2022-02-26 03:40] mattbeattie commented on #37
Perfect, this should be all I need to get started then. Thanks so much!

[2022-02-26 03:40] #37 closed, assigned to nobody

[2022-02-26 05:24] mattbeattie commented on #35
I've added preliminary support for OrderedHeaders. I'll go ahead and close this; we can open a new issue later on if we need to revisit changes to the parsing logic.

[2022-02-26 05:24] #35 closed, assigned to nobody

[2022-02-28 04:26] mattbeattie opened #40 "Questions from looking at the example CVR"
Initial questions below.

As I continued my research, I answered a lot of these and/or made reasonable assumptions about what we should do. For posterity, I kept the questions and my answers below.

At this time I'm able to generate a usable CVR; however, that CVR has gaps. Answers to the unanswered questions below would help me fill those gaps.

## Unanswered

1. Will the top-level `ReportGenerat

[2022-02-28 05:38] mattbeattie commented on #40
~Below is an "empty" example CVR with no actual CVRs. It just attempts to construct the basics of the CVR, given [example_1](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_1.json) as the input.~

~As you can see, a lot of things are unknown because I didn't know where to get the data from the EDF. I'm also not convinced that I did the `Contest` arra

[2022-02-28 14:17] cwulfman commented on #40
This is quite a lot of questions, @mattbeattie . I'll answer them as quickly as I can today.

[2022-02-28 14:26] cwulfman commented on #40
I'm working on updating the set of CVRs that correspond with the Jetsons EDFs.  Still a WIP, but you can look on the jetsons branch

[2022-02-28 15:10] cwulfman commented on #40
Looking at question 2 above:

Remember the primary purpose of the CVR (section 2.1 of the spec) is to provide a common output format for ballot-scanning devices to record voter choices.  For a device that is scanning paper ballots, it may make sense to produce one record per page of a multi-page ballot, but there is no reason why MarkIt shouldn't produce a single CVR containing all the voter's cho

[2022-02-28 15:17] cwulfman commented on #40
For question 9:

I'd say yes: we can ignore anything related to images of paper ballots, because Markit is not a scanner.  Remember that these NIST-1500 formats were designed to cover a number of use cases/scenarios, and that not all elements/attributes apply to all cases.

[2022-02-28 23:18] mattbeattie commented on #40
@cwulfman thank you!

* One CVR makes things much simpler 👍
* Ignoring anything related to image capture also makes things much simpler 👍

Let me take another pass at this. I want to generate the full CVR with the user's choices and everything. I'll keep things as simple as possible while still following the spec. I'll continue to use placeholders for "unknown" values, and we can address as needed

[2022-03-01 03:52] mattbeattie commented on #36
I have a solution in place for this and am satisfied with it. If we need to make revisions later on I can raise a new issue accordingly. Thanks again for the guidance here!

[2022-03-01 03:52] #36 closed, assigned to nobody

[2022-03-01 05:27] mattbeattie commented on #40
Two big updates:

#### 1. I answered / made reasonable assumptions for the majority of my questions

I've updated my top-level comment accordingly.

There are now 7 real questions for which I'll need answers. Most ask "where do I get _X_ from the EDF?" Until I have answers, the gaps will be evident in the "unknown" values - which is totally okay for now, I think.

#### 2. I can now generate a CVR!

[2022-03-01 21:37] cwulfman commented on #40
from the spec documentation (p. 67):

This is, then, for the case in which a CastVoteRecordReport contains many CVRs.  Not applicable in our case.

[2022-03-01 21:42] cwulfman commented on #40
I don't think we've ever talked about what a reporting device is in our context.

I defer to @trustthevote to answer this

[2022-03-01 23:04] cwulfman commented on #40
Remember that in XML, ID/IDRef attributes are *local to the document*. The CastVoteRecordReport *requires* at least one `Election` element, and the `Election` element *requires* a value for the `ObjectId` attribute (the value must be an xsd:identifier). The CVRR can contain more than one `Election` element, so the ElectionId/ObjectId pairing serves to link a CVR to the election to which it applies

[2022-03-01 23:16] cwulfman commented on #40
It doesn't come from the EDF. As in the ElectionIdentifier discussion above, these are ID/IDRef pairs, local to the scope of the XML document.

This is also an example, by the way, of a fundamental difference between XML and JSON: there is no JSON equivalent of ID-IDREF in JSON.

[2022-03-01 23:22] cwulfman commented on #40
You might want to review the background information in the [NIST-1500-103 specification](https://github.com/usnistgov/CastVoteRecords); it talks about the motivation for the CVR format.  The short answer is that there is nothing in the EDF that corresponds with CVRSnapshots or their types; you should always make this type's value `original` because the value coming from your app is equivalent to w

[2022-03-01 23:24] cwulfman commented on #40
I don't think we're making use of Codes, at least not at this point. These seem to be something added to the specification to make it conformant with other formats.

[2022-03-01 23:26] cwulfman commented on #40
All four CVRRs in the [test cases directory](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/tree/main/test_cases) include a ballot-measure contest.

[2022-03-13 00:12] mattbeattie commented on #40
Thanks a ton, Cliff. With your help, I've solved all my questions about CVRs (quite a feat!) _except_ for the one about reporting devices.

For simplicity's sake, I'll go ahead and close this (very large) issue out, and we can sync up about reporting devices later on.

Thanks again!

[2022-03-13 00:12] #40 closed, assigned to nobody

[2022-03-14 20:28] #39 closed, assigned to cwulfman

[2022-05-13 21:43] cwulfman commented on #38
This issue is stale; I am closing it.

[2022-05-13 21:43] #38 closed, assigned to nobody

[2022-05-13 22:05] cwulfman opened #45 "Update test_cases/example_1.json and example_2.json to conform with jetsons_election_definition.json"
`jetsons_election_definition.json` is an example of an "election-definition file" in a particular sense: it contains all the election data for all the precincts. Examples 1 and 2 are meant to be examples of precinct-level EDFs, of the kind the Provisioner would send to the Markit app.

We have been refining the `jetsons_election_definition.json` file; the derivatives need now to be refined as well

[2022-05-16 20:51] awoflaherty commented on #45
@cwulfman Attached is the correct representation of example 2 you are working on?

![Jetson Precint Map](https://user-images.githubusercontent.com/3749789/168680501-86539b86-87de-4e13-8fa2-c93672455fc7.png)

[2022-05-16 22:06] cwulfman commented on #45
There's a finished map in the repository: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/Gadget_County.svg

[2022-05-17 00:43] cwulfman opened #47 "Implement a hook for creating a unique id for a mark in the PDF."

[2022-05-17 01:15] cwulfman commented on #47
Motivation: PDF generator must be able to associate a choice from the EDF with something in the PDF, so that a choice made in the Markit UI can be recorded on the PDF (which is the source of truth).

The internal composition of the ballot PDF has yet to be determined.  It appears, however, that interactive form elements (i.e., radio buttons) cannot be used, because the widget set Adobe provides fo

[2022-05-17 17:14] awoflaherty opened #48 "Feedback on example_2.json:"
https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/example_2.json

My focus is on the text (Content) informations.
1. Most Content in Precinct area is capitalized except #L181 and #L196
2. Mayor of Orbit City has a period(.) at the end on #L231
3. Candidate Smith is lower case on lone #L496
4. I am concerned about the "\n" in some of the ballot text such as on

[2022-05-17 17:39] cwulfman commented on #48
Anne, you had requested a way to signal paragraph breaks; the "\n" characters in the long texts are, in fact, paragraph breaks and not line breaks (at least they are intended to function that way). Real input, especially in "long ballot measures", may well have paragraph breaks, unless we explicitly disallow them.

That said, if you still want them removed, I can remove them.

[2022-05-17 18:17] #45 closed, assigned to cwulfman

[2022-05-17 21:18] trustthevote commented on #47
Yes, the contest selection's id should be field to use. It should have a human friendly naming convention (so that CVRs have some degree of human comprehensibility) but since we can count in uniqueness, there would need to be a suffix that is unique -- not globally, just unique within one election-def dataset. As a result it could just a string rep of an integer counter.

[2022-05-17 21:45] cwulfman commented on #48
Some quick notes on the example2 I am reading:

126: spaceport district is not a city, need to use another type, possible "other"

229/243: the text object appears twice in this office, but only once in the others. some dupes to remove?

317: name should be "Leptonican"

335: name should be "Hadronicrat"

348: good to see a person object for Jane but I think also needed a persons for the other can

[2022-05-17 22:09] cwulfman commented on #48
is_partisan default is true (spec, p. 61):

[2022-05-17 22:59] cwulfman commented on #48
Anne says length of fulltext is sufficient.

[2022-05-17 23:00] cwulfman commented on #48
We had a person object for Jane because she had no party affiliation and Matt wanted to be able to grab her profession.  I'll add the others for completness' sake, though.

[2022-05-17 23:58] cwulfman commented on #47
Here's a fragment of the current EDF:

[code]
What if the convention were to be SelectionId = ContestId + CandidateId?  E.g.,

[code]
To be compatible with XML, @ids must be NCNames (https://www.w3.org/TR/xml-names11/#NT-NCName)

[2022-05-26 03:24] mattbeattie opened #52 "We need to determine how to parse and display ballot styles with nested headers"
I pulled the new [edf_downtown-precinct.json](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/main/test_cases/edf_downtown-precinct.json) EDF and am having some trouble parsing it. This EDF's ballot style contains nested headers, and my current parsing logic doesn't know how to handle that.

Below I've explained the issue in detail, and have outlined a few possible paths fo

[2022-05-26 12:18] cwulfman commented on #52
I've fixed two mistakes in the EDF (https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/commit/91095b703578f54c714625c57d1393f028642025 and https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/commit/c7858c3c7aee5c808a27da95dabc5b18cf8306e8).  Thanks for spotting these!

[2022-05-26 13:20] cwulfman commented on #52
With respect to the next steps you outline above, I think there are two stages to consider.

1. In the immediate term, your team is working against a rapidly approaching deadline, and I think you should feel free to amend these test cases as you see fit to make them comply with the logic you have at this point. I suggest you create a test directory in your repo (you may already have done this) and

[2022-05-26 21:08] mattbeattie commented on #52
Thanks for the fixes! It looks like that flattened the structure, so it's something my parser is able to handle. Long term though, of course, we'll want the ability to handle (or at least be aware of) nested hierarchy. Good to know we can push that to a later time.

Agree on maintaining our own versions of the EDFs. We do already do that, but I like to stay up to date (and pull in new ones when I

[2022-05-26 22:38] mattbeattie commented on #52
@cwulfman one last comment on this one: I had to add a vote variation of plurality to the candidate contest in order for it to work. I opened a PR here to affect that change at the source: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/pull/53

[2022-05-27 01:50] cwulfman commented on #52
@mattbeattie we've discussed this in this evening's meeting and made changes.  Can we close this issue?

[2022-05-27 01:50] #48 closed

[2022-05-27 01:51] #34 closed, assigned to nobody

[2022-05-27 01:51] #5 closed, assigned to nobody

[2022-05-27 02:08] mattbeattie commented on #52
Definitely! Thanks for all the help on this topic.

[2022-05-27 02:08] #52 closed, assigned to nobody

[2022-05-27 19:25] cwulfman opened #56 "Add display strings for the names of precincts and titles of ballots"
@trustthevote requests:

[2022-05-27 19:26] cwulfman commented on #56
What do you mean by "titles of ballots"?

[2022-06-15 15:04] #56 closed, assigned to nobody

[2022-06-19 15:26] #47 closed, assigned to nobody

[2022-08-09 21:01] cwulfman opened #60 "Create EDF test cases of Ranked Choice Voting"

[2022-08-28 17:53] cwulfman commented on #60
Added a wiki page about RCV: https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/wiki/ranked_choice

[2022-08-28 19:25] cwulfman commented on #60
Created a Versasim base for mocking up Hadron Party Primary featuring ranked-choice voting.

[2022-08-29 12:16] mattbeattie commented on #60
I took a look at the wiki page, and everything I see there makes sense to me.

**For EDFs**, the new `VoteVariation` is the perfect way to signal to the client that the contest will need to be presented as RCV (in whatever way is appropriate). Continuing to use the existing `VotesAllowed` and `ContestSelection` means that no changes will be required to the parsing logic there. Very straightforward

[2022-08-29 12:29] cwulfman commented on #60
I'll post a PR when I have a draft of an actual EDF, so others can review it.  As for the NIST-1500-103 specification document: unless we're told otherwise, we should use the published version: https://doi.org/10.6028/NIST.SP.1500-103.

[2022-08-30 22:59] ion-oset opened #61 "Unify ordering of contests"
Changes to allow generated ballots to be rendered both in the same order on the [test cases](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/tree/main/test_cases) and in keeping with [common conventions on contest order](https://github.com/ion-oset/developer-commons/discussions/32).

(Edit: Removing any reference BallotLab milestones, in keeping with the [decision made in the co

[2022-08-30 23:30] ion-oset opened #62 "Use human-readable identifiers for EDF and CVR elements"
It is much easier to verify and debug EDFs if the `@id`s are human readable and describe the element and context they are in. For the current test cases we don't need a perfect scheme just a reasonably well-defined one.

Discussion of the details will be ongoing at [Human-readable identifiers in NIST documents](https://github.com/ion-oset/developer-commons/discussions/33).

[2022-08-30 23:42] trustthevote commented on #61
it is not a requirement for this milestone to change the contest order

We do need to capture for later iterations the requirement that EDF-producers follow some ordering rules.

As the EDF is now, the ordering is OK. We might tinker later, but anything non essential we can defer

[2022-08-30 23:43] trustthevote commented on #61
Write-ins of course are required on the ballots.

I am not sure whether the VP office ID is necessary to generate this ballot properly, I will defer to others on that.

[2022-08-30 23:49] trustthevote commented on #62
Heck yes.

Cliff and I had a schema for this a while back, where there was a human readable that was usually but not guaranteed to be unique with an EDF, appended with an ordinal to be unique.

As I recall contests were like contest-mayor, candidates were like candidate-spacely-contest-mayor and candidate-writein-1-contest-spaceport-board; and question-helium-initiative etc. The ballot section IDs

[2022-08-31 00:08] ion-oset commented on #62
@trustthevote to be clear: this ticket isn't tied to the current milestones, and we're not trying to solve this before the tight schedule is done. It's here so we can track on it going forward, and because it's come up in BallotLab debugging.

Fwiw we're going to be collecting ideas for that scheme/algorithm at the discussion I linked in the [top post](https://github.com/TrustTheVote-Project/NIST-

[2022-08-31 02:36] ion-oset commented on #60
@mattbeattie it turns out the difference between the latest GitHub version and the officially published version is on the last page of each. The published version was created on March 31, 2020 (git: [8b3373ee](https://github.com/usnistgov/CastVoteRecords/commit/8b3373eef335fc12e5a7ea2f1dc2d952e635a285)). The one on the current GitHub version is 3 commits later on Apr. 21, 2020 (git: [6ad813ed](htt

[2022-08-31 22:17] cwulfman opened #63 "The OfficeIds for the Presidential race should include the VP office"

[2022-08-31 22:18] cwulfman commented on #61
This should be a separate issue; created #63

[2022-08-31 22:46] cwulfman commented on #63
Here is the definition as it currently appears in the August test file:

[code]

the `OfficeIds` property of a `CandidateContest` can have [0..*]values, so it seems perfectly reasonable to include the OfficeId for VPOTUS in the list.  However, a case could be made that neither the POTUS nor the VPOTUS OfficeIds should be associated with this contest, because neither is being elected directly: the

[2022-08-31 23:00] cwulfman commented on #61
Changing the order of contests in a BallotStyle isn't difficult; just cut and paste in the JSON file, and drag-and-drop in Versasim.  Before we start fiddling and twiddling, though (and issue #62 falls into the same category), I'd like to have a plan: do you want a new test case (for September, if you're collecting these chronologically) that addresses #60, #61, and #62, as well as https://github.

[2022-09-01 01:08] stratofax commented on #61
@ion-oset @cwulfman this is to confirm that a new EDF with re-ordered contests is **not** required, or even desired, for the current BallotLab milestone, [1. Generate flat PDFs from Jetsons EDF Milestone](https://github.com/TrustTheVote-Project/BallotLab/milestone/1), as noted by @trustthevote.

I did request an updated EDF with human-readable IDs to support [Write Contest IDs on ballot for testin

[2022-09-01 18:22] ion-oset commented on #61
@stratofax:

Confirmed 👍🏼. I've updated the issue description accordingly to remove any reference to a particular BallotLab milestone. We can re-reference when we get to milestone 3.

[2022-09-01 18:30] ion-oset commented on #61
@cwulfman

I'm not clear on what the threshold is for making a new test case for the month so whether or not this a new test case or just an update of an old one I defer to you on. I will note that the total number of changes is small. I can easily see one PR fixing #61 and #63 at once. Even #62, at least as it relates to [BallotLab's specific needs](https://github.com/TrustTheVote-Project/NIST-15

[2022-09-01 18:40] ion-oset commented on #62
@cwulfman I've realized there's potentially two different issues here.

1. A general ask to come up with an algorithm or scheme for identifiers (which is what I was posting on based on our recent conversations). That has no immediate milestone or deadline. It might take some care to get corner cases right to our satisfaction, but I think the ones that have been described here and elsewhere are tre

[2022-09-01 18:56] ion-oset commented on #61
Hmm. Let me answer your question more explicitly. I propose:

- I propose one PR (e.g. "Changes need for BallotLab") that fixes all of:
  - #60
  - #61
  - #62
    (The BallotLab specific part, **not** the entire naming scheme issue)
  - #63
- Each issue is addressed by an individual commit.
- That PR is tentatively targeted for [BallotLab milestone #3](https://github.com/TrustTheVote-Project/Ball

[2022-09-01 19:18] cwulfman commented on #61
I think this is overkill, @ion-oset .  I addressed #63 and closed the issue in less than 5 minutes; using human-readable identifiers in EDF and CVR elements (#62) will require consensus on what those ids should look like and some development work on Versasim (which is not actually part of TTV); @stratofax has said he doesn't want us to do #61; #60 is an independent task @trustthevote has mentioned

[2022-09-01 19:31] stratofax commented on #63
@cwulfman can we either:

- Reopen this issue; or
- Open a discussion to identify the definitive way to count the number of candidates on the ticket

For example, if the OfficeIds property includes two (2) values, we know that the `CandidateContest` should list either two Candidates for each ticket and write in. Otherwise, how do we know that a sufficient number of candidates are listed for each t

[2022-09-01 19:36] cwulfman commented on #63
That's a different, albeit related issue to the task of adding the VPOTUS id to test cases.  By all means let's open a discussion about that.

[2022-09-01 19:42] ion-oset commented on #61
@cwulfman Fine with me. I was offering a plan per your request, but as far I'm concerned it should happen in the order you see fit.

FWIW though I don't think what I suggested is overkill. It certainly isn't meant to be: my whole point is that most this isn't a lot of work. #61 and the BallotLab specific part of #62 are less than an hour of work (at least the way I did them for my testing). I agre

[2022-09-01 19:56] stratofax commented on #63
OK, sounds good! Here? [ElectOS-Dev · The TrustTheVote® Project Discussions](https://github.com/orgs/TrustTheVote-Project/teams/electos-dev)

[2022-09-01 19:57] stratofax commented on #61
@cwulfman @ion-oset I did mean 100% that I want to **defer** #61 for a week or two, not to drop it.

[2022-09-01 21:12] cwulfman opened #65 "Merging Anne's version of "the EDF" into the repository"
@trustthevote wrote:

I'd like @awoflaherty to clarify this request a bit.

1. What is your version, of which EDF? Could you please either post a link to it here, or attach a copy?
2. What, other than lengthening the text of the helium initiative, have you changed in the contents of the EDF?

I strongly suggest we deprecate the practice of exchanging data files via email. I'd like to propose that

[2022-09-01 22:17] mattbeattie commented on #65
Hey Cliff,

I just talked with John and Anne about this, let me summarize below:

- Markit and Provisioner have _not_ diverged from the version of the EDF here in the NIST repo. Both are using the [august EDF from commit `2f086a2`](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/blob/2f086a2d1a00fc15977925a530e7ebf38e6c1f0d/test_cases/august_test_case.json)
- Remember that Marki

[2022-09-01 22:18] trustthevote commented on #65
No objections.

Currently not using any of the 3 test cases in the repo you linked to, but rather a copy that has extra text at the end of the helium initiative. That was fine for a quick test case to close a bug that was blocking an important release.

Now, the "official" CEW EDF needs to be updated to what we might call the September test case, which (a) takes up the additional helium wording (b

[2022-09-02 01:17] stratofax commented on #63
In fact, I opened a discussion here: [EDFs and Ballot Layout · Discussion #27 · ion-oset/DAVS](https://github.com/ion-oset/DAVS/discussions/27)

[2022-09-02 12:33] cwulfman commented on #65
To be clear: I have only worked on files in the NIST-1500-100-103-examples repo (i.e., this one). Ion & Neil have been doing things with separate copies and gists and what-not; I have nothing to do with it.

So: I will create a September test case EDF, rather than revising the August test case EDF, and put it in this repo.

[2022-09-03 14:03] cwulfman commented on #65
Matt Beattie wrote:

@mattbeattie: thank you for pointing this out, and thank you for preferring an upstream Versasim adjustment over a hotfix! I'll add ExternalIdentifier to the Airtable fields and the versasim output.

See https://github.com/cwulfman/versasim/issues/2

[2022-09-03 15:35] mattbeattie commented on #65
@cwulfman excellent, sounds good! I'll be ready to pull down and test the EDF once you've got it updated.

[2022-09-05 16:08] cwulfman commented on #63
Re-opening for further documentation, from the Spec (section 5.8, Class CandidateContest):

[2022-09-05 16:08] #63 closed, assigned to nobody

[2022-09-07 15:11] cwulfman commented on #65
resolved in #66

[2022-09-07 15:11] #65 closed, assigned to cwulfman

[2022-09-07 17:12] stratofax commented on #63
@cwulfman I'm not clear what decision we reached on this issue, but I do think that whatever it is, you should record it in [ballot_layout_considerations · TrustTheVote-Project/NIST-1500-100-103-examples Wiki](https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/wiki/ballot_layout_considerations).

In general, I think recording the decision to the **Ballot Layout Considerations** doc

[2022-09-07 17:38] cwulfman commented on #63
The short answer is yes;  see https://github.com/TrustTheVote-Project/NIST-1500-100-103-examples/issues/63#issuecomment-1237259255, above: